    <!--Banner Start-->
    <section class="main-banner">
        <div class="banner-overlay-bg animate-this">
            <img src="assets/images/banner-overlay.png" alt="Overlay">
        </div>
        <div class="banner-blur-bg">
            <img src="assets/images/blur-1.png" alt="Blur">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner-title-one">
                        <div class="main-banner-subtitle-box wow fadeInUp" data-wow-delay=".5s">
                           <div class="banner-subtitle-box">
                            <div class="banner-subtitle-first">The Best</div>
                            <div class="banner-subtitle-second">Fitness Club</div>
                           </div> 
                        </div>
                        <h1 class="h1-title wow fadeInUp" data-wow-delay=".7s">Work Hard To Get Better Life</h1>
                        <p class="wow fadeInUp" data-wow-delay=".9s">Duis mollis felis quis libero dictum vehicula. Duis dictum lorem mi, a faucibus nisi eleifend eu.</p>
                        <a href="about-us.html" class="sec-btn wow fadeInUp" data-wow-delay="1s">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-banner-img-one">
                        <img src="assets/images/banner-img-1.png" alt="Banner">
                        <div class="banner-circle-first">
                            <img src="assets/images/banner-circle-one.png" alt="Circle">
                        </div>
                        <div class="banner-circle-second">
                            <img src="assets/images/banner-circle-two.png" alt="Circle">
                        </div>
                        <div class="heart-rate">
                            <img src="assets/images/heart-rate.png" alt="Heart Rate">
                            <span>Heart Rate</span>
                            <h3>100 bpm</h3>
                        </div>
                        <div class="calories-box">
                            <div class="calories">
                                <img src="assets/images/calories.png" alt="Heart Rate">
                                <div class="calories-text">
                                    <span>Calories Burned</span>
                                    <h3>100 bpm</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Banner End-->

    <!--About Us Start-->
    <section class="main-about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img-box wow fadeInLeft" data-wow-delay=".5s">
                        <div class="about-img-one">
                            <img src="assets/images/about-img-one.png" alt="About Us">
                        </div>
                        <div class="about-img-bg"></div>
                        <div class="fitness">
                            <img src="assets/images/fitness.png" alt="Fitness">
                        </div>
                        <div class="about-circle-one">
                            <img src="assets/images/about-circle-one.png" alt="Circle">
                        </div>
                        <div class="about-circle-two">
                            <img src="assets/images/about-circle-two.png" alt="Circle">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content-box wow fadeInRight" data-wow-delay=".5s">
                        <div class="about-us-title">
                            <div class="subtitle">
                                <h2 class="h2-subtitle">About Us</h2>
                            </div>
                            <h2 class="h2-title">Welcome To Our Fitness Gym</h2>
                        </div>
                        <p>Nam ut hendrerit leo. Aenean vel ipsum nunc. Curabitur in tellus vitae nisi aliquet dapibus non et erat. Pellentesque porta sapien non accumsan dignissim curabitur sagittis nulla sit amet dolor feugiat.</p>
                        <p>Integer placerat vitae metus posuere tincidunt. Nullam suscipit ante ac aliquet viverra vestibulum ante ipsum primis.</p>
                        <div class="about-text-box">
                            <div class="about-trainer-box">
                                <div class="about-trainer-img">
                                    <img src="assets/images/about-trainer.jpg" class="rounded-circle" alt="Trainer">
                                </div>
                                <div class="about-trainer-name">
                                    <h3 class="h3-title">Denis Robinson</h3>
                                    <span>Our Coach</span>
                                </div>
                            </div>
                            <a href="about-us.html" class="sec-btn">Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Us End-->

    <!--Classes End-->

    <!--Schedule Start-->
    
    <!--Counter Start-->
    <section class="main-counter">
        <div class="container">
            <div class="row counter-bg wow fadeInUp" data-wow-delay=".5s">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-box">
                        <div class="counter-content">
                            <h2 class="h2-title counting-data" data-count="874">0</h2>
                            <div class="counter-text">
                                <img src="assets/images/happy-client.png" alt="Happy Client">
                                <span>Happy Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-box">
                        <div class="counter-content">
                            <h2 class="h2-title counting-data" data-count="987">0</h2>
                            <div class="counter-text">
                                <img src="assets/images/total-clients.png" alt="Total Clients">
                                <span>Total Clients</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-box">
                        <div class="counter-content">
                            <h2 class="h2-title counting-data" data-count="587">0</h2>
                            <div class="counter-text">
                                <img src="assets/images/gym-equipment.png" alt="Gym Equipment">
                                <span>Gym Equipment</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-box">
                        <div class="counter-content">
                            <h2 class="h2-title counting-data" data-count="748">0</h2>
                            <div class="counter-text">
                                <img src="assets/images/cup-of-coffee.png" alt="Cup Of Coffee">
                                <span>Cup Of Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Counter End-->

    <!--Team Start-->
    <section class="main-team">
        <div class="team-overlay-bg animate-this">
            <img src="assets/images/team-overlay-bg.png" alt="Overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="subtitle">
                            <h2 class="h2-subtitle">Best Trainer</h2>
                        </div>
                        <h2 class="h2-title">Our Professional Trainer</h2>
                    </div>
                </div>
            </div>
            <div class="row team-slider">
                <div class="col-lg-3">
                    <div class="team-box wow fadeInUp" data-wow-delay=".5s">
                        <div class="team-img-box team-border-one">
                            <div class="team-img">
                                <img src="assets/images/trainer1.jpg" alt="Trainer">
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title team-text-color">Desert Antony</h3></a>
                            <span>Fitness Trainer</span>
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box wow fadeInDown" data-wow-delay=".5s">
                        <div class="team-img-box team-border-one">
                            <div class="team-img">
                                <img src="assets/images/trainer2.jpg" alt="Trainer">
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title team-text-color">Kate Johnson</h3></a>
                            <span>Fitness Trainer</span>
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box wow fadeInUp" data-wow-delay=".5s">
                        <div class="team-img-box team-border-one">
                            <div class="team-img">
                                <img src="assets/images/trainer3.jpg" alt="Trainer">
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title team-text-color">John Hard</h3></a>
                            <span>Fitness Trainer</span>
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box wow fadeInDown" data-wow-delay=".5s">
                        <div class="team-img-box team-border-one">
                            <div class="team-img">
                                <img src="assets/images/trainer4.jpg" alt="Trainer">
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title team-text-color">Zahra Sharif</h3></a>
                            <span>Fitness Trainer</span>
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-box wow fadeInUp" data-wow-delay=".5s">
                        <div class="team-img-box team-border-one">
                            <div class="team-img">
                                <img src="assets/images/trainer5.jpg" alt="Trainer">
                            </div>
                        </div>
                        <div class="team-content">
                            <a href="team-detail.html"><h3 class="h3-title team-text-color">Ruth Edwards</h3></a>
                            <span>Fitness Trainer</span>
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team End-->

    <!--Pricing Start-->
    <section class="main-pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pricing-title">
                        <div class="subtitle">
                            <h2 class="h2-subtitle">Pricing Table</h2>
                        </div>
                        <h2 class="h2-title">Choose Your Pricing Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row pricing-slider">
                <div class="col-lg-4">
                    <div class="pricing-box wow fadeInUp" data-wow-delay=".5s">
                        <div class="pricing-title-box pricing-one">
                            <h3 class="h3-title">Standard Plan</h3>
                            <h2 class="h2-title">$35<span>/Month</span></h2>
                        </div>
                        <div class="pricing-content-box">
                            <div class="pricing-content">
                                <div class="pricing-point">
                                    <ul>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Unlimited club access</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Group attendance</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym visits</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Visits to the bath complex</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym, fight club</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="contact-us.html" class="sec-btn">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pricing-box wow fadeInDown" data-wow-delay=".5s">
                        <div class="pricing-title-box pricing-two">
                            <h3 class="h3-title">Standard Plan</h3>
                            <h2 class="h2-title">$45<span>/Month</span></h2>
                        </div>
                        <div class="pricing-content-box">
                            <div class="pricing-content">
                                <div class="pricing-point">
                                    <ul>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Unlimited club access</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Group attendance</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym visits</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Visits to the bath complex</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym, fight club</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="contact-us.html" class="sec-btn">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="pricing-box wow fadeInUp" data-wow-delay=".5s">
                        <div class="pricing-title-box pricing-three">
                            <h3 class="h3-title">Standard Plan</h3>
                            <h2 class="h2-title">$55<span>/Month</span></h2>
                        </div>
                        <div class="pricing-content-box">
                            <div class="pricing-content">
                                <div class="pricing-point">
                                    <ul>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Unlimited club access</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Group attendance</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym visits</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Visits to the bath complex</p>
                                        </li>
                                        <li>
                                            <img src="assets/images/check.png" alt="Check">
                                            <p>Gym, fight club</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="contact-us.html" class="sec-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Pricing End-->

    <!--Footer Start-->
    <footer class="main-footer">
        <div class="footer-overlay-bg animate-this">
            <img src="assets/images/footer-overlay.png" alt="Overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-box-one">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="Fithub">
                        </a>
                        <p>Etiam suscipit fringilla ullamcorper sed malesuada urna nec odio.</p>
                        <div class="footer-time">
                            <img src="assets/images/clock-2.png" alt="Clock">
                            <div class="footer-time-text-box">
                                <div class="footer-time-text">
                                    <span>Monday - Friday</span>
                                    <span>7:00Am - 10:00Pm</span>
                                </div>
                                <div class="footer-time-text mt-3">
                                    <span>Saturday - Sunday</span>
                                    <span>7:00Am - 2:00Pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-box-two">
                        <h3 class="h3-title">Our Links</h3>
                        <div class="line"></div>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="class-detail.html">Classes</a></li>
                            <li><a href="blog-list.html">Blog</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-box-three">
                        <h3 class="h3-title">Contact Us</h3>
                        <div class="line"></div>
                        <ul>
                            <li>
                                <div class="footer-contact-icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="footer-contact-text">
                                    <span>1247/Plot No. 39, 15th Phase, Colony, Kukatpally, Hyderabad</span>
                                </div>
                            </li>
                            <li>
                                <div class="footer-contact-icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="footer-contact-text">
                                    <span>1800-121-3637</span>
                                    <span>+91 555 234-8765</span>
                                </div>
                            </li>
                            <li>
                                <div class="footer-contact-icon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="footer-contact-text">
                                    <span>info@gmail.com</span>
                                    <span>services@gmail.com</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-box-four">
                        <h3 class="h3-title">Our Newsletter</h3>
                        <div class="line"></div>
                        <div class="footer-subscribe-form">
                            <input type="email" name="email" class="form-input subscribe-input" placeholder="Email Address" required="">
                            <button type="submit" class="sec-btn"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copyright-text">
                            <span>Copyright © 2022 <a href="index.html">ShivaayThemes.</a> All rights reserved.</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="copyright-links">
                            <ul>
                                <li><a href="about-us.html">Privacy Policy</a></li>
                                <li><a href="about-us.html">Team &amp; Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->

    <!--Back To Top Start-->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
           <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 280.807;"></path>
        </svg>
     </div>
    <!--BAck To Top End-->

    <!-- modal-search-start -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <form>
                    <input type="text" placeholder="Search here...">
                    <button>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
              </form>
           </div>
        </div>
     </div>
     <!-- modal-search-end -->
    
<!-- Jquery JS Link -->
<script src="assets/js/jquery.min.js"></script>

<!-- Bootstrap JS Link -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/popper.min.js"></script>

<!-- Custom JS Link -->
<script src="assets/js/custom.js"></script>

<!-- Slick Slider JS Link -->
<script src="assets/js/slick.min.js"></script>

<!-- Wow Animation JS -->
<script src="assets/js/wow.min.js"></script>

<!--Bg Moving Js-->
<script src="assets/js/bg-moving.js"></script>

<!--Magnific Popup JS-->
<script src="assets/js/magnific-popup.js"></script>
<script src="assets/js/custom-magnific-popup.js"></script>

<!--Progress Bar JS-->
<script src="assets/js/custom-progress-bar.js"></script>

<!--Scroll Count JS-->
<script src="assets/js/custom-scroll-count.js"></script>

<!--BAck To Top JS-->
<script src="assets/js/back-to-top.js"></script>

</body>
</html>